# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [32]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [33]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

### Step 3. Assign it to a variable called drinks.

In [34]:
drinks = pd.read_csv(url, sep = ',')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [35]:
drinks.groupby('continent').mean()[['beer_servings']]

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [36]:
drinks.groupby('continent').describe()[['wine_servings']]

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [37]:
drinks.groupby('continent').mean()[['total_litres_of_pure_alcohol']]

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [38]:
drinks.groupby('continent').median()[['total_litres_of_pure_alcohol']]

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [41]:
drinks['spirit_servings'].agg([pd.np.min, pd.np.max, pd.np.mean])
#drinks.groupby('spirit_servings').min()
#drinks.groupby('spirit_servings').mean()

amin      0.000000
amax    438.000000
mean     80.994819
Name: spirit_servings, dtype: float64