# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [50]:
import numpy as np
import pandas as pd
import requests
import io


### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [51]:
url ="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
s = requests.get(url).content
chipo = pd.read_csv(url,sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98


### Step 4. How many products cost more than $10.00?

In [52]:
#chipo['item_price']=chipo['item_price'].str.slice(,6)
#chipo.nlargest(10, ['item_price'])
chipo['item_price']=chipo['item_price'].str.slice(1,)
chipo['item_price']=chipo['item_price'].astype(dtype = np.float64)
print(chipo.nlargest(10, 'item_price'))
#chipo['item_price']

      order_id  quantity                     item_name  \
3598      1443        15  Chips and Fresh Tomato Salsa
3480      1398         3                 Carnitas Bowl
1254       511         4               Chicken Burrito
3602      1443         4               Chicken Burrito
3601      1443         3                Veggie Burrito
409        178         3                  Chicken Bowl
1255       511         3                 Steak Burrito
3603      1443         3                 Steak Burrito
1514       616         3                  Chicken Bowl
3634      1454         3               Chicken Burrito

                                     choice_description  item_price
3598                                                NaN       44.25
3480  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       35.25
1254  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
3602  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
3601  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       33.75
409   [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...       32.94
1255  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       27.75
3603  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       27.75
1514  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       26.25
3634                               [Fresh Tomato Salsa]       26.25

In [53]:
#chipo['item_price'] = chipo['item_price'].str.slice(1,)
#chipo['item_price'] = chipo['item_price'].astype(dtype = np.float64)
#print(chipo.nlargest(10, ['item_price']))
#chipo['item_price']
#chipo.head()


### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
data=chipo
print(data[['item_name','item_price']])
chipo.head()

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
14                      Chips and Guacamole        4.45
15    Chips and Tomatillo-Green Chili Salsa        2.39
16                          Chicken Burrito        8.49
17                          Chicken Burrito        8.49
18                              Canned Soda        2.18
19                             Chicken Bowl        8.75
20                      Chips and Guacamole        4.45
21                         Barbacoa Burrito        8.99
22                         Nantucket Nectar        3.39
23                          Chicken Burrito       10.98
24                                     Izze        3.39
25             Chips and Fresh Tomato Salsa        2.39
26                             Chicken Bowl        8.49
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
29                          Chicken Burrito        8.49
...                                     ...         ...
4592                       Barbacoa Burrito       11.75
4593                          Carnitas Bowl       11.75
4594                          Barbacoa Bowl       11.75
4595                           Chicken Bowl        8.75
4596                    Chips and Guacamole        4.45
4597                      Canned Soft Drink        1.25
4598                          Bottled Water        1.50
4599                           Chicken Bowl        8.75
4600                    Chips and Guacamole        4.45
4601                      Canned Soft Drink        1.25
4602                       Barbacoa Burrito        9.25
4603                       Barbacoa Burrito        9.25
4604                           Chicken Bowl        8.75
4605                    Chips and Guacamole        4.45
4606                      Canned Soft Drink        1.25
4607                          Steak Burrito       11.75
4608                         Veggie Burrito       11.25
4609                      Canned Soft Drink        1.25
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25
4613                                  Chips        2.15
4614                          Bottled Water        1.50
4615                     Chicken Soft Tacos        8.75
4616                    Chips and Guacamole        4.45
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 6. Sort by the name of the item

In [55]:
chipo.sort_values(['item_name'],ascending=True)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 7. What was the quantity of the most expensive item ordered?

In [56]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [57]:
print(chipo.nlargest(10, 'item_price'))

      order_id  quantity                     item_name  \
3598      1443        15  Chips and Fresh Tomato Salsa
3480      1398         3                 Carnitas Bowl
1254       511         4               Chicken Burrito
3602      1443         4               Chicken Burrito
3601      1443         3                Veggie Burrito
409        178         3                  Chicken Bowl
1255       511         3                 Steak Burrito
3603      1443         3                 Steak Burrito
1514       616         3                  Chicken Bowl
3634      1454         3               Chicken Burrito

                                     choice_description  item_price
3598                                                NaN       44.25
3480  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       35.25
1254  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
3602  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
3601  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       33.75
409   [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...       32.94
1255  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       27.75
3603  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       27.75
1514  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       26.25
3634                               [Fresh Tomato Salsa]       26.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [58]:
missing=chipo.item_name.value_counts()['Veggie Salad Bowl']
print(missing)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [59]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)]['item_name'].count()

20