In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta

In [2]:
pd.read_csv('filmdata.csv',delimiter=';')

,Column1,Column2,Column3,Column4,Column5,Column6,Column7
0,tt0111161,The Shawshank Redemption (1994),1994,9.02.00,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.00.00,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.08.00,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.07.00,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.09.00,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump (1994),1994,8.07.00,368994,142 mins.,Comedy|Drama|Romance
6,tt0169547,American Beauty (1999),1999,8.06.00,338332,122 mins.,Drama
7,tt0499549,Avatar (2009),2009,8.01.00,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List (1993),1993,8.09.00,325888,195 mins.,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back...,1980,8.08.00,320105,124 mins.,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins (2005),2005,8.03.00,316613,140 mins.,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects (1995),1995,8.07.00,306624,106 mins.,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs (1991),1991,8.07.00,293081,118 mins.,Crime|Thriller
13,tt0120338,Titanic (1997),1997,7.04.00,284245,194 mins.,Adventure|Drama|History|Romance
14,tt0112573,Braveheart (1995),1995,8.04.00,281446,177 mins.,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense (1999),1999,8.02.00,278210,107 mins.,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1 (2003),2003,8.02.00,272983,111 mins.,Action|Crime|Thriller
17,tt0099685,Goodfellas (1990),1990,8.08.00,270728,146 mins.,Biography|Crime|Drama|Thriller
18,tt0416449,300 (2006),2006,7.08.00,269328,117 mins.,Action|Fantasy|History|War
19,tt0482571,The Prestige (2006),2006,8.04.00,258396,130 mins.,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs (1992),1992,8.04.00,247390,99 mins.,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional (1994),1994,8.06.00,244568,110 mins.,Crime|Drama|Thriller
22,tt0120689,The Green Mile (1999),1999,8.04.00,243660,189 mins.,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds (2009),2009,8.04.00,240995,153 mins.,Adventure|Drama|War
24,tt0910970,WALL\xb7E (2008),2008,8.05.00,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight (2008),2008,8.09.00,555122,152 mins.,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather (1972),1972,9.02.00,474189,175 mins.,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,178 mins.,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King ...,2003,8.08.00,428791,201 mins.,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers (2002),2002,8.07.00,383113,179 mins.,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers (2006),2006,6.04.00,1358,96 mins.,Comedy|Drama
9971,tt0110064,House Party 3 (1994),1994,3.01.00,1357,100 mins.,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden (2010),2010,7.02.00,1357,95 mins.,Comedy|Drama
9973,tt0878674,Garage (2007),2007,6.09.00,1356,00 mins.,Drama
9974,tt0076391,Mimino (1977),1977,8.02.00,1356,97 mins.,Comedy
9975,tt1316037,Birdemic: Shock and Terror (2008),2008,2.00.00,1366,90 mins.,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted? (1999),1999,6.03.00,1365,00 mins.,Drama
9977,tt0092608,Back to the Beach (1987),1987,5.01.00,1364,92 mins.,Comedy
9978,tt0093175,Hello Again (1987),1987,4.05.00,1364,96 mins.,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star (2008),2008,3.08.00,1364,98 mins.,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan (1971),1971,2.00.00,1364,90 mins.,Horror
9981,tt1281374,Don McKay (2009),2009,6.00.00,1363,87 mins.,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm (2001),2001,7.08.00,1362,74 mins.,Drama
9983,tt0368259,Sex Lives of the Potato Men (2004),2004,4.03.00,1362,82 mins.,Comedy
9984,tt0067333,Lawman (1971),1971,6.08.00,1362,99 mins.,Western
9985,tt0065669,The Dunwich Horror (1970),1970,5.01.00,1361,90 mins.,Horror
9986,tt0048198,I Live in Fear (1955),1955,7.03.00,1360,103 mins.,Drama
9987,tt0100046,The Long Walk Home (1990),1990,7.02.00,1360,97 mins.,Drama|History
9988,tt0116247,Evil Ed (1995),1995,5.00.00,1359,93 mins.,Horror|Comedy
9989,tt0101356,Another You (1991),1991,4.09.00,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.03.00,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.06.00,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.08.00,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.02.00,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.07.00,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.00.00,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.02.00,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.05.00,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.05.00,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.09.00,1356,96 mins.,Comedy|Drama

In [3]:
data=pd.read_csv('filmdata.csv',delimiter=';' )

In [4]:
data.columns=['ID', 'title', 'year', 'rating', 'votes', 'duration', 'genres']

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null object
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [6]:
data1=pd.DataFrame(data,columns=['ID'])

In [7]:
data1

             ID
0     tt0111161
1     tt0110912
2     tt0137523
3     tt0133093
4     tt1375666
5     tt0109830
6     tt0169547
7     tt0499549
8     tt0108052
9     tt0080684
10    tt0372784
11    tt0114814
12    tt0102926
13    tt0120338
14    tt0112573
15    tt0167404
16    tt0266697
17    tt0099685
18    tt0416449
19    tt0482571
20    tt0105236
21    tt0110413
22    tt0120689
23    tt0361748
24    tt0910970
25    tt0468569
26    tt0068646
27    tt0120737
28    tt0167260
29    tt0167261
...         ...
9970  tt0469897
9971  tt0110064
9972  tt1629391
9973  tt0878674
9974  tt0076391
9975  tt1316037
9976  tt0197094
9977  tt0092608
9978  tt0093175
9979  tt1034320
9980  tt0066476
9981  tt1281374
9982  tt0263124
9983  tt0368259
9984  tt0067333
9985  tt0065669
9986  tt0048198
9987  tt0100046
9988  tt0116247
9989  tt0101356
9990  tt0421090
9991  tt0067227
9992  tt0339727
9993  tt0218581
9994  tt0118635
9995  tt0807721
9996  tt0339642
9997  tt0060880
9998  tt0152836
9999  tt0279977

[10000 rows x 1 columns]

In [8]:
data.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.02.00,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.00.00,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.08.00,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.07.00,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.09.00,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [9]:
data.tail(11)

,ID,title,year,rating,votes,duration,genres
9989,tt0101356,Another You (1991),1991,4.09.00,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.03.00,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.06.00,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.08.00,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.02.00,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.07.00,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.00.00,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.02.00,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.05.00,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.05.00,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.09.00,1356,96 mins.,Comedy|Drama

In [10]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null object
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [11]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 7 entries, ID to genres
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null object
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [13]:
data.info(verbose='True',null_counts='False')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null object
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [14]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null object
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: int64(2), object(5)
memory usage: 3.5 MB

In [15]:
#data.drop([],axis=0,inplace=True)

In [16]:
checkrow=data.dropna(axis=0)

In [17]:
checkrow.shape

(9999, 7)

In [18]:
data.shape

(10000, 7)

In [19]:
checkrow.isna()

         ID  title   year  rating  votes  duration  genres
0     False  False  False   False  False     False   False
1     False  False  False   False  False     False   False
2     False  False  False   False  False     False   False
3     False  False  False   False  False     False   False
4     False  False  False   False  False     False   False
5     False  False  False   False  False     False   False
6     False  False  False   False  False     False   False
7     False  False  False   False  False     False   False
8     False  False  False   False  False     False   False
9     False  False  False   False  False     False   False
10    False  False  False   False  False     False   False
11    False  False  False   False  False     False   False
12    False  False  False   False  False     False   False
13    False  False  False   False  False     False   False
14    False  False  False   False  False     False   False
15    False  False  False   False  False     False   False
16    False  False  False   False  False     False   False
17    False  False  False   False  False     False   False
18    False  False  False   False  False     False   False
19    False  False  False   False  False     False   False
20    False  False  False   False  False     False   False
21    False  False  False   False  False     False   False
22    False  False  False   False  False     False   False
23    False  False  False   False  False     False   False
24    False  False  False   False  False     False   False
25    False  False  False   False  False     False   False
26    False  False  False   False  False     False   False
27    False  False  False   False  False     False   False
28    False  False  False   False  False     False   False
29    False  False  False   False  False     False   False
...     ...    ...    ...     ...    ...       ...     ...
9970  False  False  False   False  False     False   False
9971  False  False  False   False  False     False   False
9972  False  False  False   False  False     False   False
9973  False  False  False   False  False     False   False
9974  False  False  False   False  False     False   False
9975  False  False  False   False  False     False   False
9976  False  False  False   False  False     False   False
9977  False  False  False   False  False     False   False
9978  False  False  False   False  False     False   False
9979  False  False  False   False  False     False   False
9980  False  False  False   False  False     False   False
9981  False  False  False   False  False     False   False
9982  False  False  False   False  False     False   False
9983  False  False  False   False  False     False   False
9984  False  False  False   False  False     False   False
9985  False  False  False   False  False     False   False
9986  False  False  False   False  False     False   False
9987  False  False  False   False  False     False   False
9988  False  False  False   False  False     False   False
9989  False  False  False   False  False     False   False
9990  False  False  False   False  False     False   False
9991  False  False  False   False  False     False   False
9992  False  False  False   False  False     False   False
9993  False  False  False   False  False     False   False
9994  False  False  False   False  False     False   False
9995  False  False  False   False  False     False   False
9996  False  False  False   False  False     False   False
9997  False  False  False   False  False     False   False
9998  False  False  False   False  False     False   False
9999  False  False  False   False  False     False   False

[9999 rows x 7 columns]

In [20]:
#df['title'].str.lstrip('+-').str.rstrip('aAbBcC')

In [21]:
#data['title'] = data['title'].map(lambda x: str(x)[:-1])

In [22]:
data

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.02.00,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.00.00,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.08.00,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.07.00,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.09.00,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump (1994),1994,8.07.00,368994,142 mins.,Comedy|Drama|Romance
6,tt0169547,American Beauty (1999),1999,8.06.00,338332,122 mins.,Drama
7,tt0499549,Avatar (2009),2009,8.01.00,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List (1993),1993,8.09.00,325888,195 mins.,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back...,1980,8.08.00,320105,124 mins.,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins (2005),2005,8.03.00,316613,140 mins.,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects (1995),1995,8.07.00,306624,106 mins.,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs (1991),1991,8.07.00,293081,118 mins.,Crime|Thriller
13,tt0120338,Titanic (1997),1997,7.04.00,284245,194 mins.,Adventure|Drama|History|Romance
14,tt0112573,Braveheart (1995),1995,8.04.00,281446,177 mins.,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense (1999),1999,8.02.00,278210,107 mins.,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1 (2003),2003,8.02.00,272983,111 mins.,Action|Crime|Thriller
17,tt0099685,Goodfellas (1990),1990,8.08.00,270728,146 mins.,Biography|Crime|Drama|Thriller
18,tt0416449,300 (2006),2006,7.08.00,269328,117 mins.,Action|Fantasy|History|War
19,tt0482571,The Prestige (2006),2006,8.04.00,258396,130 mins.,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs (1992),1992,8.04.00,247390,99 mins.,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional (1994),1994,8.06.00,244568,110 mins.,Crime|Drama|Thriller
22,tt0120689,The Green Mile (1999),1999,8.04.00,243660,189 mins.,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds (2009),2009,8.04.00,240995,153 mins.,Adventure|Drama|War
24,tt0910970,WALL\xb7E (2008),2008,8.05.00,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight (2008),2008,8.09.00,555122,152 mins.,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather (1972),1972,9.02.00,474189,175 mins.,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,178 mins.,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King ...,2003,8.08.00,428791,201 mins.,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers (2002),2002,8.07.00,383113,179 mins.,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers (2006),2006,6.04.00,1358,96 mins.,Comedy|Drama
9971,tt0110064,House Party 3 (1994),1994,3.01.00,1357,100 mins.,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden (2010),2010,7.02.00,1357,95 mins.,Comedy|Drama
9973,tt0878674,Garage (2007),2007,6.09.00,1356,00 mins.,Drama
9974,tt0076391,Mimino (1977),1977,8.02.00,1356,97 mins.,Comedy
9975,tt1316037,Birdemic: Shock and Terror (2008),2008,2.00.00,1366,90 mins.,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted? (1999),1999,6.03.00,1365,00 mins.,Drama
9977,tt0092608,Back to the Beach (1987),1987,5.01.00,1364,92 mins.,Comedy
9978,tt0093175,Hello Again (1987),1987,4.05.00,1364,96 mins.,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star (2008),2008,3.08.00,1364,98 mins.,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan (1971),1971,2.00.00,1364,90 mins.,Horror
9981,tt1281374,Don McKay (2009),2009,6.00.00,1363,87 mins.,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm (2001),2001,7.08.00,1362,74 mins.,Drama
9983,tt0368259,Sex Lives of the Potato Men (2004),2004,4.03.00,1362,82 mins.,Comedy
9984,tt0067333,Lawman (1971),1971,6.08.00,1362,99 mins.,Western
9985,tt0065669,The Dunwich Horror (1970),1970,5.01.00,1361,90 mins.,Horror
9986,tt0048198,I Live in Fear (1955),1955,7.03.00,1360,103 mins.,Drama
9987,tt0100046,The Long Walk Home (1990),1990,7.02.00,1360,97 mins.,Drama|History
9988,tt0116247,Evil Ed (1995),1995,5.00.00,1359,93 mins.,Horror|Comedy
9989,tt0101356,Another You (1991),1991,4.09.00,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.03.00,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.06.00,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.08.00,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.02.00,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.07.00,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.00.00,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.02.00,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.05.00,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.05.00,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.09.00,1356,96 mins.,Comedy|Drama

In [23]:
data['title']=data['title'].str.slice(0, -6)

In [24]:
data

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump,1994,8.07.00,368994,142 mins.,Comedy|Drama|Romance
6,tt0169547,American Beauty,1999,8.06.00,338332,122 mins.,Drama
7,tt0499549,Avatar,2009,8.01.00,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List,1993,8.09.00,325888,195 mins.,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,8.08.00,320105,124 mins.,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins,2005,8.03.00,316613,140 mins.,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects,1995,8.07.00,306624,106 mins.,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs,1991,8.07.00,293081,118 mins.,Crime|Thriller
13,tt0120338,Titanic,1997,7.04.00,284245,194 mins.,Adventure|Drama|History|Romance
14,tt0112573,Braveheart,1995,8.04.00,281446,177 mins.,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense,1999,8.02.00,278210,107 mins.,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1,2003,8.02.00,272983,111 mins.,Action|Crime|Thriller
17,tt0099685,Goodfellas,1990,8.08.00,270728,146 mins.,Biography|Crime|Drama|Thriller
18,tt0416449,300,2006,7.08.00,269328,117 mins.,Action|Fantasy|History|War
19,tt0482571,The Prestige,2006,8.04.00,258396,130 mins.,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs,1992,8.04.00,247390,99 mins.,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional,1994,8.06.00,244568,110 mins.,Crime|Drama|Thriller
22,tt0120689,The Green Mile,1999,8.04.00,243660,189 mins.,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds,2009,8.04.00,240995,153 mins.,Adventure|Drama|War
24,tt0910970,WALL\xb7E,2008,8.05.00,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight,2008,8.09.00,555122,152 mins.,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather,1972,9.02.00,474189,175 mins.,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,178 mins.,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King,2003,8.08.00,428791,201 mins.,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers,2002,8.07.00,383113,179 mins.,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers,2006,6.04.00,1358,96 mins.,Comedy|Drama
9971,tt0110064,House Party 3,1994,3.01.00,1357,100 mins.,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden,2010,7.02.00,1357,95 mins.,Comedy|Drama
9973,tt0878674,Garage,2007,6.09.00,1356,00 mins.,Drama
9974,tt0076391,Mimino,1977,8.02.00,1356,97 mins.,Comedy
9975,tt1316037,Birdemic: Shock and Terror,2008,2.00.00,1366,90 mins.,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted?,1999,6.03.00,1365,00 mins.,Drama
9977,tt0092608,Back to the Beach,1987,5.01.00,1364,92 mins.,Comedy
9978,tt0093175,Hello Again,1987,4.05.00,1364,96 mins.,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star,2008,3.08.00,1364,98 mins.,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan,1971,2.00.00,1364,90 mins.,Horror
9981,tt1281374,Don McKay,2009,6.00.00,1363,87 mins.,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm,2001,7.08.00,1362,74 mins.,Drama
9983,tt0368259,Sex Lives of the Potato Men,2004,4.03.00,1362,82 mins.,Comedy
9984,tt0067333,Lawman,1971,6.08.00,1362,99 mins.,Western
9985,tt0065669,The Dunwich Horror,1970,5.01.00,1361,90 mins.,Horror
9986,tt0048198,I Live in Fear,1955,7.03.00,1360,103 mins.,Drama
9987,tt0100046,The Long Walk Home,1990,7.02.00,1360,97 mins.,Drama|History
9988,tt0116247,Evil Ed,1995,5.00.00,1359,93 mins.,Horror|Comedy
9989,tt0101356,Another You,1991,4.09.00,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia,2005,6.03.00,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons,1971,7.06.00,1359,88 mins.,Drama
9992,tt0339727,Stateside,2004,5.08.00,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva,2000,5.02.00,1358,91 mins.,Drama
9994,tt0118635,Aprile,1998,6.07.00,1358,78 mins.,Comedy
9995,tt0807721,Meduzot,2007,7.00.00,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun,2005,5.02.00,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum,1966,6.05.00,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal,1999,6.05.00,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators,2001,6.09.00,1356,96 mins.,Comedy|Drama

In [25]:
data['duration']=data['duration'].str.slice(0, -5)

In [26]:
data

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,142,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,154,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,139,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,136,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,148,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump,1994,8.07.00,368994,142,Comedy|Drama|Romance
6,tt0169547,American Beauty,1999,8.06.00,338332,122,Drama
7,tt0499549,Avatar,2009,8.01.00,336855,162,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List,1993,8.09.00,325888,195,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,8.08.00,320105,124,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins,2005,8.03.00,316613,140,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects,1995,8.07.00,306624,106,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs,1991,8.07.00,293081,118,Crime|Thriller
13,tt0120338,Titanic,1997,7.04.00,284245,194,Adventure|Drama|History|Romance
14,tt0112573,Braveheart,1995,8.04.00,281446,177,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense,1999,8.02.00,278210,107,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1,2003,8.02.00,272983,111,Action|Crime|Thriller
17,tt0099685,Goodfellas,1990,8.08.00,270728,146,Biography|Crime|Drama|Thriller
18,tt0416449,300,2006,7.08.00,269328,117,Action|Fantasy|History|War
19,tt0482571,The Prestige,2006,8.04.00,258396,130,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs,1992,8.04.00,247390,99,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional,1994,8.06.00,244568,110,Crime|Drama|Thriller
22,tt0120689,The Green Mile,1999,8.04.00,243660,189,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds,2009,8.04.00,240995,153,Adventure|Drama|War
24,tt0910970,WALL\xb7E,2008,8.05.00,229364,98,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight,2008,8.09.00,555122,152,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather,1972,9.02.00,474189,175,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,178,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King,2003,8.08.00,428791,201,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers,2002,8.07.00,383113,179,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers,2006,6.04.00,1358,96,Comedy|Drama
9971,tt0110064,House Party 3,1994,3.01.00,1357,100,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden,2010,7.02.00,1357,95,Comedy|Drama
9973,tt0878674,Garage,2007,6.09.00,1356,00,Drama
9974,tt0076391,Mimino,1977,8.02.00,1356,97,Comedy
9975,tt1316037,Birdemic: Shock and Terror,2008,2.00.00,1366,90,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted?,1999,6.03.00,1365,00,Drama
9977,tt0092608,Back to the Beach,1987,5.01.00,1364,92,Comedy
9978,tt0093175,Hello Again,1987,4.05.00,1364,96,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star,2008,3.08.00,1364,98,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan,1971,2.00.00,1364,90,Horror
9981,tt1281374,Don McKay,2009,6.00.00,1363,87,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm,2001,7.08.00,1362,74,Drama
9983,tt0368259,Sex Lives of the Potato Men,2004,4.03.00,1362,82,Comedy
9984,tt0067333,Lawman,1971,6.08.00,1362,99,Western
9985,tt0065669,The Dunwich Horror,1970,5.01.00,1361,90,Horror
9986,tt0048198,I Live in Fear,1955,7.03.00,1360,103,Drama
9987,tt0100046,The Long Walk Home,1990,7.02.00,1360,97,Drama|History
9988,tt0116247,Evil Ed,1995,5.00.00,1359,93,Horror|Comedy
9989,tt0101356,Another You,1991,4.09.00,1359,98,Comedy|Crime
9990,tt0421090,Zerophilia,2005,6.03.00,1359,90,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons,1971,7.06.00,1359,88,Drama
9992,tt0339727,Stateside,2004,5.08.00,1358,97,Drama|Music|Romance
9993,tt0218581,Scarlet Diva,2000,5.02.00,1358,91,Drama
9994,tt0118635,Aprile,1998,6.07.00,1358,78,Comedy
9995,tt0807721,Meduzot,2007,7.00.00,1357,78,Drama
9996,tt0339642,Daltry Calhoun,2005,5.02.00,1357,100,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum,1966,6.05.00,1356,104,Drama|Mystery|Thriller
9998,tt0152836,Taal,1999,6.05.00,1356,179,Musical|Romance
9999,tt0279977,The Navigators,2001,6.09.00,1356,96,Comedy|Drama

In [27]:
#data['duration'] = data['duration'] * 60

In [28]:
df1 = data['duration'].str.split('.', expand=True).astype(int)
data['duration'] =df1*60

In [29]:
data

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,8880,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump,1994,8.07.00,368994,8520,Comedy|Drama|Romance
6,tt0169547,American Beauty,1999,8.06.00,338332,7320,Drama
7,tt0499549,Avatar,2009,8.01.00,336855,9720,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List,1993,8.09.00,325888,11700,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,8.08.00,320105,7440,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins,2005,8.03.00,316613,8400,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects,1995,8.07.00,306624,6360,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs,1991,8.07.00,293081,7080,Crime|Thriller
13,tt0120338,Titanic,1997,7.04.00,284245,11640,Adventure|Drama|History|Romance
14,tt0112573,Braveheart,1995,8.04.00,281446,10620,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense,1999,8.02.00,278210,6420,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1,2003,8.02.00,272983,6660,Action|Crime|Thriller
17,tt0099685,Goodfellas,1990,8.08.00,270728,8760,Biography|Crime|Drama|Thriller
18,tt0416449,300,2006,7.08.00,269328,7020,Action|Fantasy|History|War
19,tt0482571,The Prestige,2006,8.04.00,258396,7800,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs,1992,8.04.00,247390,5940,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional,1994,8.06.00,244568,6600,Crime|Drama|Thriller
22,tt0120689,The Green Mile,1999,8.04.00,243660,11340,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds,2009,8.04.00,240995,9180,Adventure|Drama|War
24,tt0910970,WALL\xb7E,2008,8.05.00,229364,5880,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight,2008,8.09.00,555122,9120,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather,1972,9.02.00,474189,10500,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,10680,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King,2003,8.08.00,428791,12060,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers,2002,8.07.00,383113,10740,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers,2006,6.04.00,1358,5760,Comedy|Drama
9971,tt0110064,House Party 3,1994,3.01.00,1357,6000,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden,2010,7.02.00,1357,5700,Comedy|Drama
9973,tt0878674,Garage,2007,6.09.00,1356,0,Drama
9974,tt0076391,Mimino,1977,8.02.00,1356,5820,Comedy
9975,tt1316037,Birdemic: Shock and Terror,2008,2.00.00,1366,5400,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted?,1999,6.03.00,1365,0,Drama
9977,tt0092608,Back to the Beach,1987,5.01.00,1364,5520,Comedy
9978,tt0093175,Hello Again,1987,4.05.00,1364,5760,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star,2008,3.08.00,1364,5880,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan,1971,2.00.00,1364,5400,Horror
9981,tt1281374,Don McKay,2009,6.00.00,1363,5220,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm,2001,7.08.00,1362,4440,Drama
9983,tt0368259,Sex Lives of the Potato Men,2004,4.03.00,1362,4920,Comedy
9984,tt0067333,Lawman,1971,6.08.00,1362,5940,Western
9985,tt0065669,The Dunwich Horror,1970,5.01.00,1361,5400,Horror
9986,tt0048198,I Live in Fear,1955,7.03.00,1360,6180,Drama
9987,tt0100046,The Long Walk Home,1990,7.02.00,1360,5820,Drama|History
9988,tt0116247,Evil Ed,1995,5.00.00,1359,5580,Horror|Comedy
9989,tt0101356,Another You,1991,4.09.00,1359,5880,Comedy|Crime
9990,tt0421090,Zerophilia,2005,6.03.00,1359,5400,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons,1971,7.06.00,1359,5280,Drama
9992,tt0339727,Stateside,2004,5.08.00,1358,5820,Drama|Music|Romance
9993,tt0218581,Scarlet Diva,2000,5.02.00,1358,5460,Drama
9994,tt0118635,Aprile,1998,6.07.00,1358,4680,Comedy
9995,tt0807721,Meduzot,2007,7.00.00,1357,4680,Drama
9996,tt0339642,Daltry Calhoun,2005,5.02.00,1357,6000,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum,1966,6.05.00,1356,6240,Drama|Mystery|Thriller
9998,tt0152836,Taal,1999,6.05.00,1356,10740,Musical|Romance
9999,tt0279977,The Navigators,2001,6.09.00,1356,5760,Comedy|Drama

In [30]:
#Concatination

In [31]:
import pandas as pd

In [32]:
movie_crew_df=pd.read_csv('crew_data.tsv.gz', sep='\t')

In [33]:
movie_crew_df.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [34]:
movie_crew_df=movie_crew_df.rename(columns={'tconst':'ID','directors':'director_ids'})

In [35]:
movie_crew_df.head()

          ID director_ids writers
0  tt0000001    nm0005690      \N
1  tt0000002    nm0721526      \N
2  tt0000003    nm0721526      \N
3  tt0000004    nm0721526      \N
4  tt0000005    nm0005690      \N

In [36]:
#movie_crew_df = movie_crew_df.rename_axis('ID')

In [37]:
movie_crew_df.set_index('ID',inplace = True)

In [38]:
del movie_crew_df['writers']

In [39]:
movie_crew_df

                  director_ids
ID
tt0000001            nm0005690
tt0000002            nm0721526
tt0000003            nm0721526
tt0000004            nm0721526
tt0000005            nm0005690
tt0000006            nm0005690
tt0000007  nm0005690,nm0374658
tt0000008            nm0005690
tt0000009            nm0085156
tt0000010            nm0525910
tt0000011            nm0804434
tt0000012  nm0525908,nm0525910
tt0000013            nm0525910
tt0000014            nm0525910
tt0000015            nm0721526
tt0000016            nm0525910
tt0000017  nm0804434,nm1587194
tt0000018            nm0804434
tt0000019            nm0932055
tt0000020            nm0010291
tt0000022            nm0525910
tt0000023            nm0525910
tt0000024            nm0010291
tt0000025            nm0010291
tt0000026            nm0525910
tt0000027            nm0525910
tt0000028            nm0525910
tt0000029            nm0525910
tt0000030  nm0666972,nm0010291
tt0000031            nm0525910
...                        ...
tt9916796  nm5519454,nm5519375
tt9916798  nm5519454,nm5519375
tt9916800  nm5519375,nm5519454
tt9916802                   \N
tt9916804  nm5519375,nm5519454
tt9916806  nm5519375,nm5519454
tt9916808  nm5519375,nm5519454
tt9916810                   \N
tt9916812  nm5519454,nm5519375
tt9916814  nm5519454,nm5519375
tt9916816  nm5519375,nm5519454
tt9916818  nm5519454,nm5519375
tt9916820  nm5519375,nm5519454
tt9916822  nm5519454,nm5519375
tt9916824  nm5519454,nm5519375
tt9916826  nm5519375,nm5519454
tt9916830            nm4289598
tt9916832  nm5519454,nm5519375
tt9916834  nm5519454,nm5519375
tt9916836  nm5519454,nm5519375
tt9916838  nm5519375,nm5519454
tt9916840            nm0996406
tt9916842  nm5519375,nm5519454
tt9916844  nm5519375,nm5519454
tt9916846  nm5519454,nm5519375
tt9916848  nm5519375,nm5519454
tt9916850  nm5519375,nm5519454
tt9916852  nm5519375,nm5519454
tt9916856           nm10538645
tt9916880            nm0996406

[5953930 rows x 1 columns]

In [40]:
person_df=pd.read_csv('name_data.tsv.gz', sep='\t')

In [41]:
person_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0043044,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0057345,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0050976,tt0083922"

In [42]:
person_df=person_df.rename(columns={'nconst':'person_ID','primaryName':'name'})

In [43]:
person_df.head()

,person_ID,name,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0043044,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0057345,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0050976,tt0083922"

In [44]:
person_df.drop(['birthYear','deathYear','primaryProfession','knownForTitles'],axis=1,inplace=True)

In [45]:
person_df

         person_ID                 name
0        nm0000001         Fred Astaire
1        nm0000002        Lauren Bacall
2        nm0000003      Brigitte Bardot
3        nm0000004         John Belushi
4        nm0000005       Ingmar Bergman
5        nm0000006       Ingrid Bergman
6        nm0000007      Humphrey Bogart
7        nm0000008        Marlon Brando
8        nm0000009       Richard Burton
9        nm0000010         James Cagney
10       nm0000011          Gary Cooper
11       nm0000012          Bette Davis
12       nm0000013            Doris Day
13       nm0000014  Olivia de Havilland
14       nm0000015           James Dean
15       nm0000016      Georges Delerue
16       nm0000017     Marlene Dietrich
17       nm0000018         Kirk Douglas
18       nm0000019     Federico Fellini
19       nm0000020          Henry Fonda
20       nm0000021        Joan Fontaine
21       nm0000022          Clark Gable
22       nm0000023         Judy Garland
23       nm0000024         John Gielgud
24       nm0000025      Jerry Goldsmith
25       nm0000026           Cary Grant
26       nm0000027        Alec Guinness
27       nm0000028        Rita Hayworth
28       nm0000029    Margaux Hemingway
29       nm0000030       Audrey Hepburn
...            ...                  ...
9405162  nm9993689         Chris Bailey
9405163  nm9993690         David Jewell
9405164  nm9993691      Ursula Gehrmann
9405165  nm9993692        Shiela Martin
9405166  nm9993693      Anketa Maharana
9405167  nm9993694       Chinmay Mishra
9405168  nm9993696     Ibrahim-Aloduley
9405169  nm9993697       Zakariya Ganim
9405170  nm9993698            Sebi John
9405171  nm9993699           Dani Jacob
9405172  nm9993700           Sexy Angel
9405173  nm9993701     Sanjai Kuriakose
9405174  nm9993702           Liz Matory
9405175  nm9993703      James Craigmyle
9405176  nm9993704   Wojciech Kolodziej
9405177  nm9993705        Bozena Zegert
9405178  nm9993706     Michal Jackowski
9405179  nm9993707       Alexandra Rago
9405180  nm9993708           Eli Bevins
9405181  nm9993709            Lu Bevins
9405182  nm9993710    Nestor Rudnytskyy
9405183  nm9993711        David Gluzman
9405184  nm9993712      Corny O'Connell
9405185  nm9993713        Sambit Mishra
9405186  nm9993714    Romeo del Rosario
9405187  nm9993715        Stephen Crowe
9405188  nm9993716        Essias Loberg
9405189  nm9993717   Harikrishnan Rajan
9405190  nm9993718          Aayush Nair
9405191  nm9993719           Andre Hill

[9405192 rows x 2 columns]

In [46]:
df_1=pd.merge(data,movie_crew_df, how='outer',on='ID')

In [47]:
df_1.drop(['title','year','rating','votes','duration','genres'],axis=1,inplace=True)

In [48]:
df_1.head()

          ID         director_ids
0  tt0111161            nm0001104
1  tt0110912            nm0000233
2  tt0137523            nm0000399
3  tt0133093  nm0905154,nm0905152
4  tt1375666            nm0634240

In [49]:
df_1.dropna()

                ID         director_ids
0        tt0111161            nm0001104
1        tt0110912            nm0000233
2        tt0137523            nm0000399
3        tt0133093  nm0905154,nm0905152
4        tt1375666            nm0634240
5        tt0109830            nm0000709
6        tt0169547            nm0005222
7        tt0499549            nm0000116
8        tt0108052            nm0000229
9        tt0080684            nm0449984
10       tt0372784            nm0634240
11       tt0114814            nm0001741
12       tt0102926            nm0001129
13       tt0120338            nm0000116
14       tt0112573            nm0000154
15       tt0167404            nm0796117
16       tt0266697            nm0000233
17       tt0099685            nm0000217
18       tt0416449            nm0811583
19       tt0482571            nm0634240
20       tt0105236            nm0000233
21       tt0110413            nm0000108
22       tt0120689            nm0001104
23       tt0361748  nm0000233,nm0744834
24       tt0910970            nm0004056
25       tt0468569            nm0634240
26       tt0068646            nm0000338
27       tt0120737            nm0001392
28       tt0167260            nm0001392
29       tt0167261            nm0001392
...            ...                  ...
5953906  tt9916796  nm5519454,nm5519375
5953907  tt9916798  nm5519454,nm5519375
5953908  tt9916800  nm5519375,nm5519454
5953909  tt9916802                   \N
5953910  tt9916804  nm5519375,nm5519454
5953911  tt9916806  nm5519375,nm5519454
5953912  tt9916808  nm5519375,nm5519454
5953913  tt9916810                   \N
5953914  tt9916812  nm5519454,nm5519375
5953915  tt9916814  nm5519454,nm5519375
5953916  tt9916816  nm5519375,nm5519454
5953917  tt9916818  nm5519454,nm5519375
5953918  tt9916820  nm5519375,nm5519454
5953919  tt9916822  nm5519454,nm5519375
5953920  tt9916824  nm5519454,nm5519375
5953921  tt9916826  nm5519375,nm5519454
5953922  tt9916830            nm4289598
5953923  tt9916832  nm5519454,nm5519375
5953924  tt9916834  nm5519454,nm5519375
5953925  tt9916836  nm5519454,nm5519375
5953926  tt9916838  nm5519375,nm5519454
5953927  tt9916840            nm0996406
5953928  tt9916842  nm5519375,nm5519454
5953929  tt9916844  nm5519375,nm5519454
5953930  tt9916846  nm5519454,nm5519375
5953931  tt9916848  nm5519375,nm5519454
5953932  tt9916850  nm5519375,nm5519454
5953933  tt9916852  nm5519375,nm5519454
5953934  tt9916856           nm10538645
5953935  tt9916880            nm0996406

[5953930 rows x 2 columns]

In [50]:
dropping=df_1[(df_1['director_ids'].str.len()>9)].index
df_1.drop(dropping,inplace=True)

In [51]:
df_1.head()

          ID director_ids
0  tt0111161    nm0001104
1  tt0110912    nm0000233
2  tt0137523    nm0000399
4  tt1375666    nm0634240
5  tt0109830    nm0000709

In [52]:

df_1=df_1.rename(columns={'director_ids':'director_id'})

In [53]:
df_1.head()

          ID director_id
0  tt0111161   nm0001104
1  tt0110912   nm0000233
2  tt0137523   nm0000399
4  tt1375666   nm0634240
5  tt0109830   nm0000709

In [54]:
df_2=pd.merge(df_1,person_df, how='outer',left_on='director_id',right_on='person_ID')

In [55]:
df_2.head()

          ID director_id  person_ID            name
0  tt0111161   nm0001104  nm0001104  Frank Darabont
1  tt0120689   nm0001104  nm0001104  Frank Darabont
2  tt0884328   nm0001104  nm0001104  Frank Darabont
3  tt0268995   nm0001104  nm0001104  Frank Darabont
4  tt0086534   nm0001104  nm0001104  Frank Darabont

In [56]:
df_2.drop(['director_id','person_ID'],axis=1,inplace=True)

In [57]:
df_2.head()

          ID            name
0  tt0111161  Frank Darabont
1  tt0120689  Frank Darabont
2  tt0884328  Frank Darabont
3  tt0268995  Frank Darabont
4  tt0086534  Frank Darabont

In [58]:
df_2=df_2.rename(columns={'name':'Director'})

In [59]:
print(df_2)

                 ID            Director
0         tt0111161      Frank Darabont
1         tt0120689      Frank Darabont
2         tt0884328      Frank Darabont
3         tt0268995      Frank Darabont
4         tt0086534      Frank Darabont
5         tt0099188      Frank Darabont
6         tt0759711      Frank Darabont
7         tt1026198      Frank Darabont
8         tt1589921      Frank Darabont
9         tt2362038      Frank Darabont
10        tt2367284      Frank Darabont
11        tt3035574      Frank Darabont
12        tt3038212      Frank Darabont
13        tt3092844      Frank Darabont
14        tt0110912   Quentin Tarantino
15        tt0266697   Quentin Tarantino
16        tt0105236   Quentin Tarantino
17        tt0378194   Quentin Tarantino
18        tt0119396   Quentin Tarantino
19        tt1028528   Quentin Tarantino
20        tt0359715   Quentin Tarantino
21        tt0534695   Quentin Tarantino
22        tt0534696   Quentin Tarantino
23        tt0568048   Quentin Tarantino
24        tt1853728   Quentin Tarantino
25        tt3460252   Quentin Tarantino
26        tt6019206   Quentin Tarantino
27        tt6493238   Quentin Tarantino
28        tt7131622   Quentin Tarantino
29        tt7713358   Quentin Tarantino
...             ...                 ...
14257785        NaN          Hiroko Ide
14257786        NaN      Stefania Zadra
14257787        NaN        Chris Bailey
14257788        NaN        David Jewell
14257789        NaN     Ursula Gehrmann
14257790        NaN       Shiela Martin
14257791        NaN     Anketa Maharana
14257792        NaN      Chinmay Mishra
14257793        NaN      Zakariya Ganim
14257794        NaN           Sebi John
14257795        NaN          Dani Jacob
14257796        NaN          Sexy Angel
14257797        NaN    Sanjai Kuriakose
14257798        NaN          Liz Matory
14257799        NaN     James Craigmyle
14257800        NaN  Wojciech Kolodziej
14257801        NaN       Bozena Zegert
14257802        NaN    Michal Jackowski
14257803        NaN      Alexandra Rago
14257804        NaN           Lu Bevins
14257805        NaN   Nestor Rudnytskyy
14257806        NaN       David Gluzman
14257807        NaN     Corny O'Connell
14257808        NaN       Sambit Mishra
14257809        NaN   Romeo del Rosario
14257810        NaN       Stephen Crowe
14257811        NaN       Essias Loberg
14257812        NaN  Harikrishnan Rajan
14257813        NaN         Aayush Nair
14257814        NaN          Andre Hill

[14257815 rows x 2 columns]

In [60]:
#Exploration

In [61]:
import numpy as np
import pandas as pd

In [62]:
data.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,8880,Action|Adventure|Sci-Fi|Thriller

In [63]:
#data[data['duration']==data['duration'].max()].head(10)

In [64]:
data.nlargest(10, ['duration'])

,ID,title,year,rating,votes,duration,genres
6908,tt0111341,Satantango,1994,8.05.00,2698,27000,Comedy|Drama|Mystery
6738,tt0063794,War and Peace,1967,7.08.00,2833,25620,Drama|History|Romance|War
2936,tt0107007,Gettysburg,1993,7.07.00,12093,15660,Drama|History|War
2086,tt0116477,Hamlet,1996,7.07.00,19698,14520,Crime|Drama|Romance|Thriller
8349,tt1128075,Love Exposure,2008,8.00.00,1922,14220,Action|Comedy|Drama|Romance
7036,tt0101428,La Belle Noiseuse,1991,7.06.00,2621,14160,Drama
9217,tt0068883,Ludwig,1972,7.06.00,1581,14100,Biography|Drama|History
384,tt0087843,Once Upon a Time in America,1984,8.04.00,85533,13740,Crime|Drama
2647,tt0169102,Lagaan: Once Upon a Time in India,2001,8.01.00,14190,13440,Drama|Musical|Romance|Sport
1839,tt0049833,The Ten Commandments,1956,7.09.00,22789,13200,Adventure|Drama|History

In [65]:
data.groupby(['rating']).max()

,ID,title,year,votes,duration
rating,,,,,
1.05.00,tt1309000,Superbabies: Baby Geniuses 2,2009,20927,5340
1.06.00,tt0473310,Zombie Nation,2007,8362,6000
1.07.00,tt1213644,Zodiac Killer,2008,40109,6000
1.08.00,tt0958824,Who's Your Caddy?,2008,24021,6600
1.09.00,tt0470833,The Tony Blair Witch Project,2006,6201,7260
2.00.00,tt1316037,Zombie Nightmare,2008,23103,6240
2.01.00,tt1699513,The Incredibly Strange Creatures Who Stopped L...,2011,6420,8400
2.02.00,tt1343704,Troll 2,2010,55070,5820
2.03.00,tt0426615,Simon Sez,2006,27871,5820
2.04.00,tt0490196,The Underground Comedy Movie,2006,42723,7260
2.05.00,tt1073498,The Horror of Party Beach,2008,54864,6300
2.06.00,tt1787759,Turbo: A Power Rangers Movie,2011,34478,6600
2.07.00,tt1572311,Zombie Lake,2010,21810,8100
2.08.00,tt1001562,Witless Protection,2008,14880,6180
2.09.00,tt1385912,Yu-Gi-Oh!: The Movie,2009,22589,6780
3.00.00,tt0893509,Thomas and the Magic Railroad,2008,10788,6420
3.01.00,tt1391137,Why Did I Get Married Too?,2010,12007,7260
3.02.00,tt1666186,Vampires Suck,2010,40231,6240
3.03.00,tt1594917,Ticker,2011,28486,6420
3.04.00,tt1560954,The Toxic Avenger Part III: The Last Temptatio...,2010,33821,7260
3.05.00,tt1202222,Universal Soldier: The Return,2009,91875,7500
3.06.00,tt1464174,Zoom,2011,29148,7080
3.07.00,tt1045655,Undiscovered,2008,25912,7200
3.08.00,tt1231277,Wing Commander,2010,25018,7620
3.09.00,tt1352388,Zookeeper,2011,22590,8760
4.00.00,tt1533084,Unearthed,2010,32346,10740
4.01.00,tt1640484,xXx: State of the Union,2011,22460,7020
4.02.00,tt1302067,Zandalee,2010,29599,7680
4.03.00,tt1318044,Zombie Strippers!,2009,61595,9240
4.04.00,tt1695994,Wild Seven,2010,25507,6780
...,...,...,...,...,...
6.02.00,tt1464540,Zathura: A Space Adventure,2011,137133,10200
6.03.00,tt1564367,Zerophilia,2011,108540,9720
6.04.00,tt1640459,Zulu Dawn,2011,215280,11460
6.05.00,tt1648112,Young People Fucking,2011,151439,11340
6.06.00,tt1477837,[Rec] 2,2011,171067,12960
6.07.00,tt1533749,Zozo,2011,100951,12480
6.08.00,tt1641638,eXistenZ,2010,178266,12480
6.09.00,tt1600524,Zero Effect,2011,126404,12600
7.00.00,tt1606180,Yes Man,2011,160070,12300
7.01.00,tt1588875,With Blood on My Hands: Pusher II,2011,181922,11520
7.02.00,tt1740707,Zift,2011,229119,12780
7.03.00,tt1801051,"You, the Living",2011,178312,12360
7.04.00,tt1807950,\xc7a commence aujourd'hui,2011,284245,11640
7.05.00,tt1608777,Zero Day,2011,151108,11220
7.06.00,tt1596343,Women on the Verge of a Nervous Breakdown,2011,163218,14160
7.07.00,tt1650062,[Rec],2011,158180,15660
7.08.00,tt1808223,Zulu,2011,269328,25620
7.09.00,tt1542344,Yi Yi,2011,205891,13200
8.00.00,tt1926313,Young Frankenstein,2011,282758,14220
8.01.00,tt1634013,Z,2011,336855,13440
8.02.00,tt1934231,Who's Afraid of Virginia Woolf?,2011,278210,12720
8.03.00,tt1639426,Zindagi Na Milegi Dobara,2011,316613,11160
8.04.00,tt1555149,Yojimbo,2010,334107,13740
8.05.00,tt1316540,WALL\xb7E,2011,317912,27000
8.06.00,tt1832382,Who Sings Over There,2011,338332,9180
8.07.00,tt0476735,Tosun Pasa,2005,448114,10740
8.08.00,tt0317248,The Lord of the Rings: The Return of the King,2003,458173,12420
8.09.00,tt1375666,The Dark Knight,2010,555122,11700
9.00.00,tt0252487,"The Good, the Bad and the Ugly",1994,490065,12000
9.02.00,tt0111161,The Shawshank Redemption,1994,619479,10500

In [66]:
data.sort_values(['rating', 'title'], ascending = [False, True])

,ID,title,year,rating,votes,duration,genres
26,tt0068646,The Godfather,1972,9.02.00,474189,10500,Crime|Drama
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,8520,Crime|Drama
3386,tt0252487,Outrageous Class,1975,9.00.00,9823,5220,Comedy|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,9240,Crime|Thriller
37,tt0071562,The Godfather: Part II,1974,9.00.00,291169,12000,Crime|Drama
85,tt0060196,"The Good, the Bad and the Ugly",1966,9.00.00,195238,9660,Western
143,tt0050083,12 Angry Men,1957,8.09.00,148155,5760,Drama|Mystery
4,tt1375666,Inception,2010,8.09.00,385149,8880,Action|Adventure|Sci-Fi|Thriller
44,tt0073486,One Flew Over the Cuckoo's Nest,1975,8.09.00,255503,7980,Drama
8,tt0108052,Schindler's List,1993,8.09.00,325888,11700,Biography|Drama|History|War
25,tt0468569,The Dark Knight,2008,8.09.00,555122,9120,Action|Crime|Drama|Thriller
58,tt0317248,City of God,2002,8.08.00,199917,7800,Crime|Drama
2,tt0137523,Fight Club,1999,8.08.00,458173,8340,Drama|Mystery|Thriller
17,tt0099685,Goodfellas,1990,8.08.00,270728,8760,Biography|Crime|Drama|Thriller
321,tt0064116,Once Upon a Time in the West,1968,8.08.00,89764,10500,Western
212,tt0047478,Seven Samurai,1954,8.08.00,111707,12420,Adventure|Drama
30,tt0076759,Star Wars: Episode IV - A New Hope,1977,8.08.00,364211,7260,Action|Adventure|Family|Fantasy|Sci-Fi
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,8.08.00,320105,7440,Action|Adventure|Family|Sci-Fi
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.08.00,451263,10680,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King,2003,8.08.00,428791,12060,Action|Adventure|Drama|Fantasy
5,tt0109830,Forrest Gump,1994,8.07.00,368994,8520,Comedy|Drama|Romance
33,tt0209144,Memento,2000,8.07.00,325663,6780,Crime|Drama|Mystery|Thriller
2678,tt0476735,My Father and My Son,2005,8.07.00,14080,6480,Drama
128,tt0054215,Psycho,1960,8.07.00,168286,6540,Horror|Mystery|Thriller
40,tt0082971,Raiders of the Lost Ark,1981,8.07.00,277941,6900,Action|Adventure
177,tt0047396,Rear Window,1954,8.07.00,137663,6720,Mystery|Romance|Thriller
31,tt0114369,Se7en,1995,8.07.00,337198,7620,Crime|Drama|Mystery|Thriller
556,tt0043014,Sunset Blvd.,1950,8.07.00,64363,6600,Drama|Film-Noir
29,tt0167261,The Lord of the Rings: The Two Towers,2002,8.07.00,383113,10740,Action|Adventure|Drama|Fantasy
3,tt0133093,The Matrix,1999,8.07.00,448114,8160,Action|Adventure|Sci-Fi
...,...,...,...,...,...,...,...
7294,tt0086026,The Pod People,1983,1.08.00,2456,0,Sci-Fi
7050,tt0061191,The Wild World of Batwoman,1966,1.08.00,2606,4200,Action|Comedy|Adventure|Sci-Fi
8808,tt0075343,Track of the Moon Beast,1976,1.08.00,1730,5400,Horror|Sci-Fi
4353,tt0808240,Turks in Space,2006,1.08.00,6370,6600,Action|Comedy|Sci-Fi
2984,tt0785077,Who's Your Caddy?,2007,1.08.00,11821,5580,Comedy|Sport
8757,tt0112873,A Story About Love,1995,1.07.00,1748,4200,Romance
1009,tt1213644,Disaster Movie,2008,1.07.00,40109,5220,Comedy
2199,tt0339034,From Justin to Kelly,2003,1.07.00,18107,4860,Comedy|Family|Musical|Romance
5024,tt0089280,Hobgoblins,1988,1.07.00,4892,5520,Comedy|Horror|Sci-Fi
7479,tt0174917,Merlin's Shop of Mystical Wonders,1996,1.07.00,2362,5520,Fantasy|Horror
6597,tt0054673,The Beast of Yucca Flats,1961,1.07.00,2927,3240,Horror|Sci-Fi
7571,tt0131550,The Final Sacrifice,1990,1.07.00,2280,4680,Adventure|Fantasy|Horror
5659,tt0343788,The Hillz,2004,1.07.00,3915,5460,Crime|Drama
6107,tt0830861,The Little Fox 2,2008,1.07.00,3410,5100,Animation|Adventure|Family
8023,tt0469849,Too Beautiful,2005,1.07.00,2055,5820,Comedy
6414,tt0953989,Yes Sir,2007,1.07.00,3087,6000,Action|Adventure|Comedy
7647,tt0469999,Zodiac Killer,2005,1.07.00,2255,4980,Crime
3735,tt0417056,Pledge This!,2006,1.06.00,8362,5460,Comedy
7204,tt0473310,Ram Gopal Varma's Indian Flames,2007,1.06.00,2511,0,Action|Adventure|Comedy|Crime|Musical
7907,tt0057507,The Skydivers,1963,1.06.00,2113,4500,Drama
8506,tt0058615,The Starfighters,1964,1.06.00,1847,4680,Drama
7548,tt0072666,Zaat,1971,1.06.00,2303,6000,Fantasy|Sci-Fi
5363,tt0463392,Zombie Nation,2004,1.06.00,4299,4860,Crime|Horror
5158,tt0364986,Ben & Arthur,2002,1.05.00,4675,5100,Drama|Romance
3746,tt0421051,Daniel the Wizard,2004,1.05.00,8271,4860,Comedy|Crime|Family|Fantasy|Horror
6726,tt1309000,Dream Well,2009,1.05.00,2848,0,Comedy|Romance|Sport
1982,tt0060666,Manos: The Hands of Fate,1966,1.05.00,20927,4440,Horror
6257,tt0059464,Monster a-Go Go,1965,1.05.00,3255,4200,Sci-Fi|Horror
5993,tt0060753,Night Train to Mundo Fine,1966,1.05.00,3542,5340,Action|Adventure|Crime|War
2793,tt0270846,Superbabies: Baby Geniuses 2,2004,1.05.00,13196,5280,Comedy|Family

In [67]:
data.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,8880,Action|Adventure|Sci-Fi|Thriller

In [68]:
min=data['duration']/60

In [69]:
min.mean()

103.5784

In [71]:
df_2.head()

          ID        Director
0  tt0111161  Frank Darabont
1  tt0120689  Frank Darabont
2  tt0884328  Frank Darabont
3  tt0268995  Frank Darabont
4  tt0086534  Frank Darabont

In [79]:
data.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.02.00,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.00.00,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.08.00,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.07.00,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.09.00,385149,8880,Action|Adventure|Sci-Fi|Thriller

In [80]:
df_2.head()

          ID        Director
0  tt0111161  Frank Darabont
1  tt0120689  Frank Darabont
2  tt0884328  Frank Darabont
3  tt0268995  Frank Darabont
4  tt0086534  Frank Darabont

In [81]:
prod = pd.merge(df_2, data, on = 'ID', how = 'outer' )

In [82]:
prod.head()

,ID,Director,title,year,rating,votes,duration,genres
0,tt0111161,Frank Darabont,The Shawshank Redemption,1994.0,9.02.00,619479.0,8520.0,Crime|Drama
1,tt0120689,Frank Darabont,The Green Mile,1999.0,8.04.00,243660.0,11340.0,Crime|Drama|Fantasy|Mystery
2,tt0884328,Frank Darabont,The Mist,2007.0,7.04.00,90987.0,7560.0,Horror|Sci-Fi|Thriller
3,tt0268995,Frank Darabont,The Majestic,2001.0,6.08.00,27241.0,9120.0,Drama|Romance
4,tt0086534,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
prod.sort_values(['rating', 'votes'], ascending = [False, False])

,ID,Director,title,year,rating,votes,duration,genres
0,tt0111161,Frank Darabont,The Shawshank Redemption,1994.0,9.02.00,619479.0,8520.0,Crime|Drama
525,tt0068646,Francis Ford Coppola,The Godfather,1972.0,9.02.00,474189.0,10500.0,Crime|Drama
14,tt0110912,Quentin Tarantino,Pulp Fiction,1994.0,9.00.00,490065.0,9240.0,Crime|Thriller
526,tt0071562,Francis Ford Coppola,The Godfather: Part II,1974.0,9.00.00,291169.0,12000.0,Crime|Drama
1340,tt0060196,Sergio Leone,"The Good, the Bad and the Ugly",1966.0,9.00.00,195238.0,9660.0,Western
44369,tt0252487,Ertem Egilmez,Outrageous Class,1975.0,9.00.00,9823.0,5220.0,Comedy|Drama
114,tt0468569,Christopher Nolan,The Dark Knight,2008.0,8.09.00,555122.0,9120.0,Action|Crime|Drama|Thriller
111,tt1375666,Christopher Nolan,Inception,2010.0,8.09.00,385149.0,8880.0,Action|Adventure|Sci-Fi|Thriller
182,tt0108052,Steven Spielberg,Schindler's List,1993.0,8.09.00,325888.0,11700.0,Biography|Drama|History|War
812,tt0073486,Milos Forman,One Flew Over the Cuckoo's Nest,1975.0,8.09.00,255503.0,7980.0,Drama
2317,tt0050083,Sidney Lumet,12 Angry Men,1957.0,8.09.00,148155.0,5760.0,Drama|Mystery
30,tt0137523,David Fincher,Fight Club,1999.0,8.08.00,458173.0,8340.0,Drama|Mystery|Thriller
561,tt0120737,Peter Jackson,The Lord of the Rings: The Fellowship of the R...,2001.0,8.08.00,451263.0,10680.0,Action|Adventure|Drama|Fantasy
562,tt0167260,Peter Jackson,The Lord of the Rings: The Return of the King,2003.0,8.08.00,428791.0,12060.0,Action|Adventure|Drama|Fantasy
582,tt0076759,George Lucas,Star Wars: Episode IV - A New Hope,1977.0,8.08.00,364211.0,7260.0,Action|Adventure|Family|Fantasy|Sci-Fi
239,tt0080684,Irvin Kershner,Star Wars: Episode V - The Empire Strikes Back,1980.0,8.08.00,320105.0,7440.0,Action|Adventure|Family|Sci-Fi
413,tt0099685,Martin Scorsese,Goodfellas,1990.0,8.08.00,270728.0,8760.0,Biography|Crime|Drama|Thriller
14257821,tt0317248,NaN,City of God,2002.0,8.08.00,199917.0,7800.0,Crime|Drama
3471,tt0047478,Akira Kurosawa,Seven Samurai,1954.0,8.08.00,111707.0,12420.0,Adventure|Drama
1341,tt0064116,Sergio Leone,Once Upon a Time in the West,1968.0,8.08.00,89764.0,10500.0,Western
14257815,tt0133093,NaN,The Matrix,1999.0,8.07.00,448114.0,8160.0,Action|Adventure|Sci-Fi
563,tt0167261,Peter Jackson,The Lord of the Rings: The Two Towers,2002.0,8.07.00,383113.0,10740.0,Action|Adventure|Drama|Fantasy
125,tt0109830,Robert Zemeckis,Forrest Gump,1994.0,8.07.00,368994.0,8520.0,Comedy|Drama|Romance
31,tt0114369,David Fincher,Se7en,1995.0,8.07.00,337198.0,7620.0,Crime|Drama|Mystery|Thriller
115,tt0209144,Christopher Nolan,Memento,2000.0,8.07.00,325663.0,6780.0,Crime|Drama|Mystery|Thriller
307,tt0114814,Bryan Singer,The Usual Suspects,1995.0,8.07.00,306624.0,6360.0,Crime|Mystery|Thriller
324,tt0102926,Jonathan Demme,The Silence of the Lambs,1991.0,8.07.00,293081.0,7080.0,Crime|Thriller
184,tt0082971,Steven Spielberg,Raiders of the Lost Ark,1981.0,8.07.00,277941.0,6900.0,Action|Adventure
2021,tt0054215,Alfred Hitchcock,Psycho,1960.0,8.07.00,168286.0,6540.0,Horror|Mystery|Thriller
2022,tt0047396,Alfred Hitchcock,Rear Window,1954.0,8.07.00,137663.0,6720.0,Mystery|Romance|Thriller
...,...,...,...,...,...,...,...,...
14257785,NaN,Hiroko Ide,NaN,NaN,NaN,NaN,NaN,NaN
14257786,NaN,Stefania Zadra,NaN,NaN,NaN,NaN,NaN,NaN
14257787,NaN,Chris Bailey,NaN,NaN,NaN,NaN,NaN,NaN
14257788,NaN,David Jewell,NaN,NaN,NaN,NaN,NaN,NaN
14257789,NaN,Ursula Gehrmann,NaN,NaN,NaN,NaN,NaN,NaN
14257790,NaN,Shiela Martin,NaN,NaN,NaN,NaN,NaN,NaN
14257791,NaN,Anketa Maharana,NaN,NaN,NaN,NaN,NaN,NaN
14257792,NaN,Chinmay Mishra,NaN,NaN,NaN,NaN,NaN,NaN
14257793,NaN,Zakariya Ganim,NaN,NaN,NaN,NaN,NaN,NaN
14257794,NaN,Sebi John,NaN,NaN,NaN,NaN,NaN,NaN
14257795,NaN,Dani Jacob,NaN,NaN,NaN,NaN,NaN,NaN
14257796,NaN,Sexy Angel,NaN,NaN,NaN,NaN,NaN,NaN
14257797,NaN,Sanjai Kuriakose,NaN,NaN,NaN,NaN,NaN,NaN
14257798,NaN,Liz Matory,NaN,NaN,NaN,NaN,NaN,NaN
14257799,NaN,James Craigmyle,NaN,NaN,NaN,NaN,NaN,NaN
14257800,NaN,Wojciech Kolodziej,NaN,NaN,NaN,NaN,NaN,NaN
14257801,NaN,Bozena Zegert,NaN,NaN,NaN,NaN,NaN,NaN
14257802,NaN,Michal Jackowski,NaN,NaN,NaN,NaN,NaN,NaN
14257803,NaN,Alexandra Rago,NaN,NaN,NaN,NaN,NaN,NaN
14257804,NaN,Lu Bevins,NaN,NaN,NaN,NaN,NaN,NaN
14257805,NaN,Nestor Rudnytskyy,NaN,NaN,NaN,NaN,NaN,NaN
14257806,NaN,David Gluzman,NaN,NaN,NaN,NaN,NaN,NaN
14257807,NaN,Corny O'Connell,NaN,NaN,NaN,NaN,NaN,NaN
14257808,NaN,Sambit Mishra,NaN,NaN,NaN,NaN,NaN,NaN
14257809,NaN,Romeo del Rosario,NaN,NaN,NaN,NaN,NaN,NaN
14257810,NaN,Stephen Crowe,NaN,NaN,NaN,NaN,NaN,NaN
14257811,NaN,Essias Loberg,NaN,NaN,NaN,NaN,NaN,NaN
14257812,NaN,Harikrishnan Rajan,NaN,NaN,NaN,NaN,NaN,NaN
14257813,NaN,Aayush Nair,NaN,NaN,NaN,NaN,NaN,NaN
14257814,NaN,Andre Hill,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
prod

,ID,Director,title,year,rating,votes,duration,genres
0,tt0111161,Frank Darabont,The Shawshank Redemption,1994.0,9.02.00,619479.0,8520.0,Crime|Drama
1,tt0120689,Frank Darabont,The Green Mile,1999.0,8.04.00,243660.0,11340.0,Crime|Drama|Fantasy|Mystery
2,tt0884328,Frank Darabont,The Mist,2007.0,7.04.00,90987.0,7560.0,Horror|Sci-Fi|Thriller
3,tt0268995,Frank Darabont,The Majestic,2001.0,6.08.00,27241.0,9120.0,Drama|Romance
4,tt0086534,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0099188,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
6,tt0759711,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
7,tt1026198,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
8,tt1589921,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
9,tt2362038,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
10,tt2367284,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
11,tt3035574,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
12,tt3038212,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
13,tt3092844,Frank Darabont,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0110912,Quentin Tarantino,Pulp Fiction,1994.0,9.00.00,490065.0,9240.0,Crime|Thriller
15,tt0266697,Quentin Tarantino,Kill Bill: Vol. 1,2003.0,8.02.00,272983.0,6660.0,Action|Crime|Thriller
16,tt0105236,Quentin Tarantino,Reservoir Dogs,1992.0,8.04.00,247390.0,5940.0,Crime|Mystery|Thriller
17,tt0378194,Quentin Tarantino,Kill Bill: Vol. 2,2004.0,8.00.00,216272.0,8160.0,Crime|Drama|Thriller
18,tt0119396,Quentin Tarantino,Jackie Brown,1997.0,7.06.00,94454.0,9240.0,Crime|Drama|Thriller
19,tt1028528,Quentin Tarantino,Death Proof,2007.0,7.02.00,90156.0,6780.0,Action|Crime|Thriller
20,tt0359715,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
21,tt0534695,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
22,tt0534696,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
23,tt0568048,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
24,tt1853728,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
25,tt3460252,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
26,tt6019206,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
27,tt6493238,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
28,tt7131622,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
29,tt7713358,Quentin Tarantino,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
14258330,tt0087814,NaN,Nothing Left to Do but Cry,1985.0,7.06.00,1505.0,6780.0,Comedy
14258331,tt0071772,NaN,The Lord's of Flatbush,1974.0,5.07.00,1503.0,5160.0,Comedy|Drama|Romance
14258332,tt0387462,NaN,Okul,2004.0,4.05.00,1499.0,6000.0,Comedy|Horror
14258333,tt1462054,NaN,Letters to God,2010.0,5.00.00,1493.0,6600.0,Drama|Family
14258334,tt0434382,NaN,Tapas,2005.0,6.09.00,1491.0,5640.0,Comedy|Drama
14258335,tt0042200,NaN,Annie Get Your Gun,1950.0,7.01.00,1489.0,6420.0,Biography|Comedy|Family|Musical|Romance|Western
14258336,tt0081027,NaN,Zombie Lake,1981.0,2.07.00,1476.0,5400.0,Horror|War
14258337,tt0324242,NaN,3 Extremes II,2002.0,6.02.00,1478.0,8400.0,Horror|Mystery
14258338,tt0792986,NaN,Peur(s) du noir,2007.0,6.06.00,1477.0,5100.0,Animation|Drama|Horror|Mystery
14258339,tt0043643,NaN,His Kind of Woman,1951.0,7.02.00,1474.0,7200.0,Comedy|Crime|Film-Noir|Thriller
14258340,tt0276617,NaN,The White Sound,2001.0,7.01.00,1463.0,6540.0,Drama
14258341,tt0168856,NaN,A Fish Tale,2000.0,5.08.00,1448.0,4800.0,Animation|Adventure|Comedy|Drama|Family|Fantas...
14258342,tt0381442,NaN,The Secret Adventures of Gustave Klopp,2004.0,6.02.00,1440.0,6300.0,Comedy
14258343,tt0108395,NaN,A Troll in Central Park,1994.0,4.08.00,1436.0,4560.0,Animation|Family|Fantasy
14258344,tt0048990,NaN,Pursuit of the Graf Spee,1956.0,6.05.00,1435.0,7140.0,Action|Adventure|Drama|History|War
14258345,tt0118554,NaN,Adam & Eva,1997.0,6.02.00,1434.0,5700.0,Comedy|Drama|Romance
14258346,tt0492754,NaN,Salvage,2006.0,5.04.00,1431.0,4800.0,Horror|Mystery|Thriller
14258347,tt0070297,NaN,The Legend of the 7 Golden Vampires,1974.0,5.09.00,1429.0,4980.0,Action|Fantasy|Horror
14258348,tt0446009,NaN,The Wixxer,2007.0,6.02.00,1421.0,5880.0,Comedy|Crime
14258349,tt0361500,NaN,Delgo,2008.0,4.03.00,1419.0,5640.0,Animation|Adventure|Comedy|Fantasy|Romance
14258350,tt0108593,NaN,Last Hero in China,1993.0,6.06.00,1418.0,6660.0,Action|Comedy|History
14258351,tt0084422,NaN,The Night of the Shooting Stars,1982.0,7.06.00,1413.0,6300.0,Drama|History|War
14258352,tt0268374,NaN,The Dog Trick,2002.0,5.06.00,1406.0,6360.0,Comedy|Drama|Romance
14258353,tt0054462,NaN,The Wasp Woman,1959.0,4.01.00,1398.0,4380.0,Horror|Sci-Fi
14258354,tt1316540,NaN,The Turin Horse,2011.0,8.05.00,1389.0,8760.0,Drama
14258355,tt1220706,NaN,Breathing Room,2008.0,4.01.00,1395.0,5340.0,Horror|Mystery|Thriller
14258356,tt0103743,NaN,Human Pork Chop,1993.0,6.08.00,1381.0,5760.0,Comedy|Crime|Drama|Horror|Thriller
14258357,tt0055805,NaN,Boccaccio '70,1962.0,7.00.00,1358.0,12300.0,Comedy|Fantasy|Romance
14258358,tt0177650,NaN,Company Man,2000.0,5.01.00,1358.0,5700.0,Comedy
14258359,tt0807721,NaN,Meduzot,2007.0,7.00.00,1357.0,4680.0,Drama

In [89]:
movies_20000=(prod['year']>1999)&(prod['year']<2010)

In [92]:
prod[movies_20000]

,ID,Director,title,year,rating,votes,duration,genres
2,tt0884328,Frank Darabont,The Mist,2007.0,7.04.00,90987.0,7560.0,Horror|Sci-Fi|Thriller
3,tt0268995,Frank Darabont,The Majestic,2001.0,6.08.00,27241.0,9120.0,Drama|Romance
15,tt0266697,Quentin Tarantino,Kill Bill: Vol. 1,2003.0,8.02.00,272983.0,6660.0,Action|Crime|Thriller
17,tt0378194,Quentin Tarantino,Kill Bill: Vol. 2,2004.0,8.00.00,216272.0,8160.0,Crime|Drama|Thriller
19,tt1028528,Quentin Tarantino,Death Proof,2007.0,7.02.00,90156.0,6780.0,Action|Crime|Thriller
32,tt0421715,David Fincher,The Curious Case of Benjamin Button,2008.0,8.00.00,165459.0,9960.0,Drama|Fantasy|Mystery|Romance
34,tt0443706,David Fincher,Zodiac,2007.0,7.08.00,111954.0,9420.0,Crime|Drama|History|Mystery|Thriller
37,tt0258000,David Fincher,Panic Room,2002.0,6.09.00,78014.0,6720.0,Thriller
112,tt0372784,Christopher Nolan,Batman Begins,2005.0,8.03.00,316613.0,8400.0,Action|Crime|Drama|Thriller
113,tt0482571,Christopher Nolan,The Prestige,2006.0,8.04.00,258396.0,7800.0,Drama|Mystery|Thriller
114,tt0468569,Christopher Nolan,The Dark Knight,2008.0,8.09.00,555122.0,9120.0,Action|Crime|Drama|Thriller
115,tt0209144,Christopher Nolan,Memento,2000.0,8.07.00,325663.0,6780.0,Crime|Drama|Mystery|Thriller
116,tt0278504,Christopher Nolan,Insomnia,2002.0,7.02.00,79909.0,7080.0,Crime|Drama|Mystery|Thriller
127,tt0162222,Robert Zemeckis,Cast Away,2000.0,7.05.00,123598.0,8580.0,Adventure|Drama
131,tt0442933,Robert Zemeckis,Beowulf,2007.0,6.05.00,71017.0,6900.0,Animation|Action|Adventure|Fantasy
133,tt0161081,Robert Zemeckis,What Lies Beneath,2000.0,6.05.00,50207.0,7800.0,Horror|Mystery|Thriller
134,tt0338348,Robert Zemeckis,The Polar Express,2004.0,6.06.00,34044.0,6000.0,Animation|Adventure|Family|Fantasy
137,tt1067106,Robert Zemeckis,A Christmas Carol,2009.0,6.09.00,19748.0,5760.0,Animation|Comedy|Drama|Family|Fantasy|Horror|S...
157,tt0257044,Sam Mendes,Road to Perdition,2002.0,7.08.00,96218.0,7020.0,Adventure|Crime|Drama|Thriller
158,tt0418763,Sam Mendes,Jarhead,2005.0,7.01.00,68259.0,7500.0,Biography|Drama|War
159,tt0959337,Sam Mendes,Revolutionary Road,2008.0,7.05.00,55970.0,7140.0,Drama|Romance
160,tt1176740,Sam Mendes,Away We Go,2009.0,7.02.00,19159.0,5880.0,Comedy|Drama|Romance
166,tt0499549,James Cameron,Avatar,2009.0,8.01.00,336855.0,9720.0,Action|Adventure|Fantasy|Sci-Fi
188,tt0367882,Steven Spielberg,Indiana Jones and the Kingdom of the Crystal S...,2008.0,6.05.00,151439.0,7320.0,Action|Adventure
189,tt0264464,Steven Spielberg,Catch Me If You Can,2002.0,7.08.00,165029.0,8460.0,Biography|Comedy|Crime|Drama
190,tt0181689,Steven Spielberg,Minority Report,2002.0,7.07.00,154873.0,8700.0,Action|Crime|Mystery|Sci-Fi|Thriller
191,tt0407304,Steven Spielberg,War of the Worlds,2005.0,6.05.00,150734.0,6960.0,Action|Adventure|Drama|Sci-Fi|Thriller
194,tt0212720,Steven Spielberg,A.I. Artificial Intelligence,2001.0,7.00.00,105570.0,8760.0,Adventure|Drama|Sci-Fi
195,tt0362227,Steven Spielberg,The Terminal,2004.0,7.02.00,95916.0,7680.0,Comedy|Drama|Romance
196,tt0408306,Steven Spielberg,Munich,2005.0,7.07.00,91407.0,9840.0,Drama|History|Thriller
...,...,...,...,...,...,...,...,...
14258289,tt0860906,NaN,Evangelion: 2.0 You Can (Not) Advance,2009.0,7.09.00,1782.0,0.0,Animation|Action|Drama|Sci-Fi
14258290,tt0446476,NaN,Storm,2005.0,5.08.00,1778.0,6600.0,Drama|Fantasy|Thriller
14258296,tt0304808,NaN,Ten Minutes Older: The Trumpet,2002.0,7.02.00,1705.0,0.0,Drama
14258299,tt0955411,NaN,The Ten Commandments,2007.0,2.08.00,1714.0,5280.0,Animation|Family
14258302,tt0454839,NaN,Broken,2006.0,5.00.00,1681.0,6600.0,Horror|Thriller
14258303,tt1422122,NaN,Tales from the Golden Age,2009.0,7.08.00,1677.0,9300.0,Comedy|History
14258307,tt1210106,NaN,St Trinian's II: The Legend of Fritton's Gold,2009.0,5.01.00,1652.0,6360.0,Adventure|Comedy
14258308,tt0774095,NaN,The Dudesons Movie,2006.0,5.09.00,1645.0,4560.0,Comedy|Action
14258316,tt1055300,NaN,Painted Skin,2008.0,6.03.00,1586.0,6180.0,Action|Drama|Thriller
14258317,tt0800022,NaN,Daft Punk's Electroma,2006.0,6.07.00,1557.0,4440.0,Drama|Sci-Fi
14258318,tt0405629,NaN,Aaltra,2004.0,6.09.00,1548.0,5520.0,Comedy|Drama
14258319,tt0270933,NaN,Escaflowne: The Movie,2000.0,6.08.00,1553.0,5880.0,Adventure|Animation|Drama|Fantasy|Romance|Acti...
14258320,tt0484090,NaN,Alone,2007.0,6.04.00,1551.0,5400.0,Drama|Horror|Thriller
14258321,tt0245115,NaN,The Fluffer,2001.0,5.07.00,1545.0,5700.0,Drama|Comedy|Romance
14258322,tt0834902,NaN,Confession of Pain,2006.0,6.07.00,1541.0,6600.0,Crime|Drama|Thriller
14258323,tt1166085,NaN,120,2008.0,6.08.00,1531.0,6840.0,Drama|History|War
14258332,tt0387462,NaN,Okul,2004.0,4.05.00,1499.0,6000.0,Comedy|Horror
14258334,tt0434382,NaN,Tapas,2005.0,6.09.00,1491.0,5640.0,Comedy|Drama
14258337,tt0324242,NaN,3 Extremes II,2002.0,6.02.00,1478.0,8400.0,Horror|Mystery
14258338,tt0792986,NaN,Peur(s) du noir,2007.0,6.06.00,1477.0,5100.0,Animation|Drama|Horror|Mystery
14258340,tt0276617,NaN,The White Sound,2001.0,7.01.00,1463.0,6540.0,Drama
14258341,tt0168856,NaN,A Fish Tale,2000.0,5.08.00,1448.0,4800.0,Animation|Adventure|Comedy|Drama|Family|Fantas...
14258342,tt0381442,NaN,The Secret Adventures of Gustave Klopp,2004.0,6.02.00,1440.0,6300.0,Comedy
14258346,tt0492754,NaN,Salvage,2006.0,5.04.00,1431.0,4800.0,Horror|Mystery|Thriller
14258348,tt0446009,NaN,The Wixxer,2007.0,6.02.00,1421.0,5880.0,Comedy|Crime
14258349,tt0361500,NaN,Delgo,2008.0,4.03.00,1419.0,5640.0,Animation|Adventure|Comedy|Fantasy|Romance
14258352,tt0268374,NaN,The Dog Trick,2002.0,5.06.00,1406.0,6360.0,Comedy|Drama|Romance
14258355,tt1220706,NaN,Breathing Room,2008.0,4.01.00,1395.0,5340.0,Horror|Mystery|Thriller
14258358,tt0177650,NaN,Company Man,2000.0,5.01.00,1358.0,5700.0,Comedy
14258359,tt0807721,NaN,Meduzot,2007.0,7.00.00,1357.0,4680.0,Drama

In [100]:
akira=prod[prod['Director']=='Akira Kurosawa']

In [99]:
#prod[akira]
#sorting_year=prod[['Title','year','director']].sort_values(['year'], ascending=[False])

SyntaxError: invalid syntax (<ipython-input-99-5bda674905db>, line 2)

In [103]:
akira.head()

,ID,Director,title,year,rating,votes,duration,genres
3471,tt0047478,Akira Kurosawa,Seven Samurai,1954.0,8.08.00,111707.0,12420.0,Adventure|Drama
3472,tt0042876,Akira Kurosawa,Rashomon,1950.0,8.04.00,46250.0,5280.0,Crime|Drama|Mystery
3473,tt0089881,Akira Kurosawa,Ran,1985.0,8.03.00,39096.0,9720.0,Action|Drama|War
3474,tt0055630,Akira Kurosawa,Yojimbo,1961.0,8.04.00,33878.0,6600.0,Action|Crime|Drama|Thriller
3475,tt0044741,Akira Kurosawa,Ikiru,1952.0,8.03.00,18948.0,8580.0,Drama

In [105]:
akira.sort_values(['year'],ascending=[True])

,ID,Director,title,year,rating,votes,duration,genres
3472,tt0042876,Akira Kurosawa,Rashomon,1950.0,8.04.00,46250.0,5280.0,Crime|Drama|Mystery
3488,tt0043614,Akira Kurosawa,The Idiot,1951.0,7.05.00,1680.0,9960.0,Drama
3475,tt0044741,Akira Kurosawa,Ikiru,1952.0,8.03.00,18948.0,8580.0,Drama
3471,tt0047478,Akira Kurosawa,Seven Samurai,1954.0,8.08.00,111707.0,12420.0,Adventure|Drama
3489,tt0048198,Akira Kurosawa,I Live in Fear,1955.0,7.03.00,1360.0,6180.0,Drama
3476,tt0050613,Akira Kurosawa,Throne of Blood,1957.0,8.01.00,13559.0,6600.0,Drama
3487,tt0050330,Akira Kurosawa,The Lower Depths,1957.0,7.05.00,1901.0,8220.0,Drama
3477,tt0051808,Akira Kurosawa,The Hidden Fortress,1958.0,8.01.00,12535.0,8340.0,Action|Adventure
3483,tt0054460,Akira Kurosawa,The Bad Sleep Well,1960.0,8.00.00,3356.0,9060.0,Crime|Drama|Thriller
3474,tt0055630,Akira Kurosawa,Yojimbo,1961.0,8.04.00,33878.0,6600.0,Action|Crime|Drama|Thriller
3479,tt0056443,Akira Kurosawa,Sanjuro,1962.0,8.01.00,9739.0,5760.0,Action|Drama|Thriller
3481,tt0057565,Akira Kurosawa,High and Low,1963.0,8.03.00,8603.0,8520.0,Crime|Drama|Thriller
3482,tt0058888,Akira Kurosawa,Red Beard,1965.0,8.01.00,5747.0,11100.0,Drama
3485,tt0065649,Akira Kurosawa,Dodes'ka-den,1970.0,7.06.00,2371.0,8400.0,Drama
3480,tt0071411,Akira Kurosawa,Dersu Uzala,1975.0,8.02.00,9180.0,8640.0,Adventure|Drama
3478,tt0080979,Akira Kurosawa,Kagemusha,1980.0,7.09.00,12492.0,10800.0,Drama|History|War
3473,tt0089881,Akira Kurosawa,Ran,1985.0,8.03.00,39096.0,9720.0,Action|Drama|War
3484,tt0101991,Akira Kurosawa,Rhapsody in August,1991.0,7.02.00,2830.0,5880.0,Drama
3486,tt0107474,Akira Kurosawa,Madadayo,1993.0,7.04.00,1935.0,8040.0,Drama
3490,tt0036400,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3491,tt0036947,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3492,tt0038182,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3493,tt0038268,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3494,tt0039090,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3495,tt0039871,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3496,tt0040979,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3497,tt0041699,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3498,tt0041870,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3499,tt0042958,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN
3500,tt4346112,Akira Kurosawa,NaN,NaN,NaN,NaN,NaN,NaN